@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-ctp-crust text-ctp-text;
  }
}

@layer components {
}

.rti--container {
  border: 0 !important;
  --rti-main: 0 !important;
  --rti--tag: "#DCFCE7" !important;
}
